$black: #111;
$black_light: #222;
$white: #eee;
$grey: #777;
$tr_black: rgba(0,0,0,0.6);
$tr_white: rgba(255,255,255,0.1);
$tr_white_light: rgba(255,255,255,0.25);

//$accent: #F4226B;
$accent: rgba(244,34,107,1);