// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
    padding-top: 100px;
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
        width: 400px;
        transition: 0.25s ease;
    }
    p {
        font-family: 'Vollkorn';
        font-size: 1.5em;
        text-shadow: 0 0 10px black;
    }
}